@import "tailwindcss";

/* globals.css */
.text-glow {
  text-shadow: 0 0 5px #ff0000, 0 0 10px #1d1aca, 0 0 20px #b18911;
}

.text-glow-pink {
  text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 40px #ff00ff;
}

.text-shadow {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
